[package]
name = "mozim"
version = "0.2.2"
description = "DHCP Client Library"
license = "Apache-2.0"
homepage = "https://github.com/nispor/mozim"
edition = "2021"

[lib]
name = "mozim"
path = "src/lib.rs"

[dependencies]
rand = { version = "0.8.5", default-features = false }
libc = "0.2.132"
byteorder = "1.4.3"
dhcproto = "0.9.0"
log = "0.4.17"
etherparse = "0.13.0"
nix = "0.26.0"
nispor = "1.2.12"
futures = { version = "0.3", default-features = false, features = ["std"] }

[dev-dependencies]
tokio = { version = "1.19", features = ["macros", "rt"] }
env_logger = "0.10.0"
