[package]
name = "mozim"
version = "0.1.0"
edition = "2021"

[lib]
name = "mozim"
path = "src/lib.rs"

[[bin]]
name = "mzc"
path = "src/mzc.rs"

[dependencies]
rand = "0.8.5"
libc = "0.2.132"
byteorder = "1.4.3"
dhcproto = "0.8.0"
log = "0.4.17"
etherparse = "0.12.0"
nix = "0.25.0"
env_logger = "0.9.0"
clap = { version = "3.2.17", features = ["derive"] }
nispor = "1.2.7"
